* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 720px;
  background: url("./img/Exadel_InternApp_header_bg.jpg") center center / cover no-repeat;
  //padding: 39px 0 61px 0;
}
.container {
  width: 1140px;
  //position: relative;
  margin: 0 auto;
}
